$TextColor: #494848;
$BaseColor: #43b1d2;
$WhiteColor: #ffffff;
$GrayColor: #cbd4e6;
$BaseFont: "Calibri", sans-serif;
$OtherFont: Myriad Pro,  sans-serif;
$GrayText: #929498;

.footer{
  background-color: #e5e9f2;
}
.footer__list{
  padding: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $OtherFont;
  font-size: 22px;
  color: #000000;
}
.footer__list_email{
  display: flex;
  font-size: 16px;
  color: $GrayText;
  margin-top: 70px;
}
.footer__list_svg{
  width: 45px;
  height: 45px;
  margin-right: 60px;
}
.footer__list_contacts{
  display: flex;
  font-size: 17px;
  color: $GrayText;
  margin-top: 55px;
}
.footer__list_links{
  font-size: 16px;
  color: $GrayText;
  margin-top: 70px;
  list-style-type: disclosure-closed;
}
.footer__list_links li{
  margin: 25px 0;
}
.footer__list_form{

  margin-top: 70px;
}
.footer__list_label{
  color: $GrayText;
  font-size: 16px;
}
.footer__list_input{
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #e5e9f2;
}
.footer__list_massage{
  height: 70px;
}
.copyright{
  background-color: $BaseColor;
  height:130px;
  width:100%;
}
.copyright__footer{
  text-align: center;
  padding: 55px;
  color: $WhiteColor;
  font-size: 13px;
}
.top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  border:2px solid #f7f7f7;
  background: $BaseColor;
  text-align:center;
  padding:10px;
  border-radius: 5px;
}
.top_text{
  color:$TextColor;
  font-family: $BaseFont;
  font-size:18px;
  cursor:pointer;
  text-decoration: none;
}