@import "node_modules/bootstrap/scss/bootstrap";
@import "reset";
@import "container";
@import "header";
@import "banner";
@import "servises";
@import "tabs";
@import "articles";
@import "footer";


@font-face {
  font-family: "calibri";
  src: url("../fonts/calibri.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "calibri";
  src: url("../fonts/calibri-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "calibri";
  src: url("../fonts/calibri-light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "calibri";
  src: url("../fonts/calibri-lightitalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}
.svg{
  display: none;
}