*{
    box-sizing: border-box;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
.container {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 15px;
}
@media (max-width: 1440px) {
    .container{
        max-width: 1120px;
    }
}
@media (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: none;
    }
}
.header{
    background-color: #43b1d2;
}
.header__row{
    display: flex;
    justify-content: space-between;
    height: 118px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo__img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.logo__text {
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:  #ffffff;
    text-shadow: 1px 2px 2px gray;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; /* Убираем маркеры */
}
.navigation a {
    font-family: "Calibri", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color:  #494848;
    text-align: center;
    margin-left: 30px;
    text-decoration: none;
}
.end__element{
    margin-right: 0;
}
.navigation a:hover {
    color: #ffffff; /* Цвет при наведении */
}
.number__icon{
    margin-left: 700px;
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:  #ffffff;
}
.number{
    position: relative;
    bottom: 5px;
}
.top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border:2px solid #f7f7f7;
    background: #43b1d2;
    text-align:center;
    padding:10px;
    border-radius: 5px;
}
.top_text{
    color:#494848;
    font-family: "Calibri", sans-serif;
    font-size:18px;
    cursor:pointer;
    text-decoration: none;
}
.page{
    width: 100%;
    height: 100%;
}
.the_man{
    background-color: #cbd4e6;
}
.banner{
    position: relative;
    background-image: url(../image/theman.png);
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
}
.banner__text{

    left: 650px;
    top: 115px;
    text-align: end;
    font-family: "Calibri", sans-serif;
    font-size: 24px;
    color: #494848;
}
.banner__name{

    left: 650px;
    top: 316px;
    margin: 0;
    text-align: end;
    font-family: "Myriad Pro", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #494848;
}
.banner__phone{

    right: 0;
    top: 434px;
}
.button__phone{
    padding: 10px;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    color: #494848;
    background-color: #cbd4e6;
    border-radius: 5px;
    cursor: pointer;
}
.phone__write{
    padding: 10px;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    color: #494848;
    border-radius: 5px;
}
.services{
    height: 325px;
    text-align: center;
}
.services__list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 325px;
}
.serv1{
    background-color: #43b1d2;
}
.serv2{
    background-color: #3fb6c6;
}
.serv3{
    background-color: #3cbbbb;
}
.serv4{
    background-color: #37c3a8;
}
.smart__element{
    background-color: #ffffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.one__service{
    margin-top: 70px;
}
.services__title{
    font-family: Myriad Pro,  sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #ffffff;
}
.about__serv{
    font-family: Myriad Pro,  sans-serif;
    font-size: 14.4px;
    color: #ffffff;
}
.icon__elem{
    width: 45px;
    height: 45px;
}
.icon__elem3{
    width: 30px;
    height: 45px;
}
.tabs{
    height: 135px;
    margin: auto;
    text-align: center;
}
.tabs__text{
    display: flex;
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    margin-bottom: 0;
}
.mrt, .kt, .rtgn{
    padding: 20px;
    font-family: "Calibri", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #43b1d2;
}
.mrt{
    border: 2px solid #cbd4e6;
    border-bottom-color: #ffffff;
}
.tabs__content{
    border-top: 1px solid #cbd4e6;
    margin-top: -1px;
}
@font-face {
    font-family: "calibri";
    src: url("../fonts/calibri.woff2");
    format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "calibri";
    src: url("../fonts/calibri-bold.woff2");
    format("woff2");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "calibri";
    src: url("../fonts/calibri-light.woff2");
    format("woff2");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "calibri";
    src: url("../fonts/calibri-lightitalic.woff2");
    format("woff2");
    font-style: italic;
    font-weight: normal;
}